@charset "UTF-8";
#bkmenu_header{width: 80%;margin: 0 auto; text-align: center;}
#bkmenu_table{width: 400px;margin: 0 auto; margin-top: 50px;}
#bkmenu_input_btn{width: 20%; height: 100%;}
#bkmenu_table tr td img{width: 150px; height: 150px;}
